In [117]:
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import time

In [125]:
df = pd.read_csv('https://raw.githubusercontent.com/ghassenabdedayem/Immobilier/master/cleaned_paris_2019.csv', 
                 sep=';', low_memory=False,
                 parse_dates=[8], 
                 squeeze=True,
                index_col=0)
df.head()

,No_disposition,Date_mutation,Nature_mutation,Valeur_fonciere,No_voie,Type_de_voie,Voie,Code_postal,Commune,Code_departement,Surface_reelle_bati,Nombre_pieces_principales
2294868,1,2019-01-16,Vente,650000.0,25.0,AV,FERDINAND BUISSON,75016.0,BOULOGNE-BILLANCOURT,92,89.0,3.0
2294935,1,2019-01-24,Vente,503029.0,35.0,AV,FERDINAND BUISSON,75016.0,BOULOGNE-BILLANCOURT,92,55.0,3.0
2295058,1,2019-01-24,Vente,791600.0,3.0,RUE,DU CDT GUILBAUD A PARIS,75016.0,BOULOGNE-BILLANCOURT,92,90.0,4.0
2295257,1,2019-01-18,Vente,607600.0,20.0,RUE,NUNGESSER ET COLI,75016.0,BOULOGNE-BILLANCOURT,92,66.0,3.0
2296791,1,2019-03-15,Vente,860000.0,30.0,RUE,NUNGESSER ET COLI,75016.0,BOULOGNE-BILLANCOURT,92,105.0,3.0

In [120]:
df = pd.read_csv('../cleaned_paris_2019.csv', sep=';', low_memory=False,
                 parse_dates=[8], 
                 squeeze=True,
                index_col=0)
df.head()

,No_disposition,Date_mutation,Nature_mutation,Valeur_fonciere,No_voie,Type_de_voie,Voie,Code_postal,Commune,Code_departement,Surface_reelle_bati,Nombre_pieces_principales
2294868,1,2019-01-16,Vente,650000.0,25.0,AV,FERDINAND BUISSON,75016.0,BOULOGNE-BILLANCOURT,92,89.0,3.0
2294935,1,2019-01-24,Vente,503029.0,35.0,AV,FERDINAND BUISSON,75016.0,BOULOGNE-BILLANCOURT,92,55.0,3.0
2295058,1,2019-01-24,Vente,791600.0,3.0,RUE,DU CDT GUILBAUD A PARIS,75016.0,BOULOGNE-BILLANCOURT,92,90.0,4.0
2295257,1,2019-01-18,Vente,607600.0,20.0,RUE,NUNGESSER ET COLI,75016.0,BOULOGNE-BILLANCOURT,92,66.0,3.0
2296791,1,2019-03-15,Vente,860000.0,30.0,RUE,NUNGESSER ET COLI,75016.0,BOULOGNE-BILLANCOURT,92,105.0,3.0

In [121]:
df.drop(labels=['No_disposition'], axis=1, inplace=True)
df.head()

,Date_mutation,Nature_mutation,Valeur_fonciere,No_voie,Type_de_voie,Voie,Code_postal,Commune,Code_departement,Surface_reelle_bati,Nombre_pieces_principales
2294868,2019-01-16,Vente,650000.0,25.0,AV,FERDINAND BUISSON,75016.0,BOULOGNE-BILLANCOURT,92,89.0,3.0
2294935,2019-01-24,Vente,503029.0,35.0,AV,FERDINAND BUISSON,75016.0,BOULOGNE-BILLANCOURT,92,55.0,3.0
2295058,2019-01-24,Vente,791600.0,3.0,RUE,DU CDT GUILBAUD A PARIS,75016.0,BOULOGNE-BILLANCOURT,92,90.0,4.0
2295257,2019-01-18,Vente,607600.0,20.0,RUE,NUNGESSER ET COLI,75016.0,BOULOGNE-BILLANCOURT,92,66.0,3.0
2296791,2019-03-15,Vente,860000.0,30.0,RUE,NUNGESSER ET COLI,75016.0,BOULOGNE-BILLANCOURT,92,105.0,3.0

In [4]:
import geopy
geopy.__version__

'1.21.0'

In [77]:
df.tail()

,Date_mutation,Nature_mutation,Valeur_fonciere,No_voie,Type_de_voie,Voie,Code_postal,Commune,Code_departement,Surface_reelle_bati,Nombre_pieces_principales
2535783,2019-05-12,Vente,17521000.0,32.0,QUAI,DE BETHUNE,75004.0,PARIS 04,75,47.0,1.0
2535784,2019-05-12,Vente,17521000.0,32.0,QUAI,DE BETHUNE,75004.0,PARIS 04,75,55.0,2.0
2535785,2019-05-12,Vente,17521000.0,32.0,QUAI,DE BETHUNE,75004.0,PARIS 04,75,66.0,4.0
2535786,2019-05-12,Vente,17521000.0,32.0,QUAI,DE BETHUNE,75004.0,PARIS 04,75,120.0,5.0
2535790,2019-12-30,Vente,1400000.0,24.0,RUE,SAINT SAUVEUR,75002.0,PARIS 02,75,97.0,3.0

In [113]:
from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent="my_application")
location = geolocator.geocode(query="175 5th Avenue NYC")
print(location.address)
# # Flatiron Building, 175, 5th Avenue, Flatiron, New York, NYC, New York, ...
print((location.latitude, location.longitude))
# (40.7410861, -73.9896297241625)
print(location.raw)
# # {'place_id': '9167009604', 'type': 'attraction', ...}

175, 5th Avenue, Flatiron District, New York, Manhattan, New York County, New York, 10010, United States of America
(40.741059199999995, -73.98964162240998)
{'place_id': 150272128, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'way', 'osm_id': 264768896, 'boundingbox': ['40.7407597', '40.7413004', '-73.9898715', '-73.9895014'], 'lat': '40.741059199999995', 'lon': '-73.98964162240998', 'display_name': '175, 5th Avenue, Flatiron District, New York, Manhattan, New York County, New York, 10010, United States of America', 'class': 'tourism', 'type': 'attraction', 'importance': 0.7405988542685404, 'icon': 'https://nominatim.openstreetmap.org/images/mapicons/poi_point_of_interest.p.20.png'}

In [126]:
num_idx = 2535783
dictionay = [str(int(float(df['No_voie'][num_idx]))),
            df['Type_de_voie'][num_idx],
            df['Voie'][num_idx],
            str(int(float(df['Code_postal'][num_idx]))),
            df['Commune'][num_idx],
            'FRANCE']
address = ' '
address = address.join(dictionay)
print(address)
# address = '15 rue de la roquette paris'
location = geolocator.geocode(query=address)
print(location.address)
print((location.latitude, location.longitude))

32 QUAI DE BETHUNE 75004 PARIS 04 FRANCE
32, Quai de Béthune, Quartier Les Îles, Paris, Île-de-France, France métropolitaine, 75004, France
(48.8509653, 2.356588)

In [127]:
type(location.latitude)

float

In [122]:
df[not('PARIS' in df['Commune'])] = df['Commune'] = 'PARIS'
df.head()

,Date_mutation,Nature_mutation,Valeur_fonciere,No_voie,Type_de_voie,Voie,Code_postal,Commune,Code_departement,Surface_reelle_bati,Nombre_pieces_principales,True
2294868,2019-01-16,Vente,650000.0,25.0,AV,FERDINAND BUISSON,75016.0,PARIS,92,89.0,3.0,PARIS
2294935,2019-01-24,Vente,503029.0,35.0,AV,FERDINAND BUISSON,75016.0,PARIS,92,55.0,3.0,PARIS
2295058,2019-01-24,Vente,791600.0,3.0,RUE,DU CDT GUILBAUD A PARIS,75016.0,PARIS,92,90.0,4.0,PARIS
2295257,2019-01-18,Vente,607600.0,20.0,RUE,NUNGESSER ET COLI,75016.0,PARIS,92,66.0,3.0,PARIS
2296791,2019-03-15,Vente,860000.0,30.0,RUE,NUNGESSER ET COLI,75016.0,PARIS,92,105.0,3.0,PARIS

In [87]:
def str_int(x):
    return str(int(float(x)))

strings = ['No_voie', 'Code_postal']

for i in strings:
    df[i] = df[i].apply(str_int)

df.head()

,Date_mutation,Nature_mutation,Valeur_fonciere,No_voie,Type_de_voie,Voie,Code_postal,Commune,Code_departement,Surface_reelle_bati,Nombre_pieces_principales,True,complete_address
2294868,2019-01-16,Vente,650000.0,25,AV,FERDINAND BUISSON,75016,PARIS,92,89.0,3.0,PARIS,2294868 2294868 2294868 2294868 \...
2294935,2019-01-24,Vente,503029.0,35,AV,FERDINAND BUISSON,75016,PARIS,92,55.0,3.0,PARIS,2294868 2294868 2294868 2294868 \...
2295058,2019-01-24,Vente,791600.0,3,RUE,DU CDT GUILBAUD A PARIS,75016,PARIS,92,90.0,4.0,PARIS,2294868 2294868 2294868 2294868 \...
2295257,2019-01-18,Vente,607600.0,20,RUE,NUNGESSER ET COLI,75016,PARIS,92,66.0,3.0,PARIS,2294868 2294868 2294868 2294868 \...
2296791,2019-03-15,Vente,860000.0,30,RUE,NUNGESSER ET COLI,75016,PARIS,92,105.0,3.0,PARIS,2294868 2294868 2294868 2294868 \...

In [135]:
col_adress = ['Type_de_voie', 'Voie', 'Code_postal', 'Commune']

df['complete_address'] = ' '

for i in col_adress:
    df['complete_address'] = df['complete_address'] + ' ' + df[i]

df.head()

,No_disposition,Date_mutation,Nature_mutation,Valeur_fonciere,No_voie,Type_de_voie,Voie,Code_postal,Commune,Code_departement,Surface_reelle_bati,Nombre_pieces_principales,Longitude,Latitude,test,complete_address
2294868,1,2019-01-16,Vente,650000.0,25.0,AV,FERDINAND BUISSON,75016.0,BOULOGNE-BILLANCOURT,92,89.0,3.0,Na,Na,"[boulogne-b, llancourtBOULOGNE-BILLANCOURT]",AV FERDINAND BUISSON 75016.0 BOULOGNE-BILLAN...
2294935,1,2019-01-24,Vente,503029.0,35.0,AV,FERDINAND BUISSON,75016.0,BOULOGNE-BILLANCOURT,92,55.0,3.0,Na,Na,"[boulogne-b, llancourtBOULOGNE-BILLANCOURT]",AV FERDINAND BUISSON 75016.0 BOULOGNE-BILLAN...
2295058,1,2019-01-24,Vente,791600.0,3.0,RUE,DU CDT GUILBAUD A PARIS,75016.0,BOULOGNE-BILLANCOURT,92,90.0,4.0,Na,Na,"[boulogne-b, llancourtBOULOGNE-BILLANCOURT]",RUE DU CDT GUILBAUD A PARIS 75016.0 BOULOGNE...
2295257,1,2019-01-18,Vente,607600.0,20.0,RUE,NUNGESSER ET COLI,75016.0,BOULOGNE-BILLANCOURT,92,66.0,3.0,Na,Na,"[boulogne-b, llancourtBOULOGNE-BILLANCOURT]",RUE NUNGESSER ET COLI 75016.0 BOULOGNE-BILLA...
2296791,1,2019-03-15,Vente,860000.0,30.0,RUE,NUNGESSER ET COLI,75016.0,BOULOGNE-BILLANCOURT,92,105.0,3.0,Na,Na,"[boulogne-b, llancourtBOULOGNE-BILLANCOURT]",RUE NUNGESSER ET COLI 75016.0 BOULOGNE-BILLA...

In [124]:
df.to_csv('../cleaned_paris_vs2.csv', sep='|')

In [131]:
def address_long(x):
    location = geolocator.geocode(query=x)
    if location == None:
        return 'Error'
    else:
        return str(location.longitude)

def address_lati(x):
    location = geolocator.geocode(query=x)
    if location == None:
        return 'Error'
    else:
        return str(location.latitude)

In [136]:
address_lati("AV FERDINAND BUISSON 75016 PARIS")
df = df.drop(labels='test', axis=1)

In [134]:
df['test'] = 'test'

def test_str(x):
    variable = x.lower() + x
    return variable.split('i')

df['test'] = df['Commune'].apply(test_str)
df.head()

,No_disposition,Date_mutation,Nature_mutation,Valeur_fonciere,No_voie,Type_de_voie,Voie,Code_postal,Commune,Code_departement,Surface_reelle_bati,Nombre_pieces_principales,Longitude,Latitude,test
2294868,1,2019-01-16,Vente,650000.0,25.0,AV,FERDINAND BUISSON,75016.0,BOULOGNE-BILLANCOURT,92,89.0,3.0,Na,Na,"[boulogne-b, llancourtBOULOGNE-BILLANCOURT]"
2294935,1,2019-01-24,Vente,503029.0,35.0,AV,FERDINAND BUISSON,75016.0,BOULOGNE-BILLANCOURT,92,55.0,3.0,Na,Na,"[boulogne-b, llancourtBOULOGNE-BILLANCOURT]"
2295058,1,2019-01-24,Vente,791600.0,3.0,RUE,DU CDT GUILBAUD A PARIS,75016.0,BOULOGNE-BILLANCOURT,92,90.0,4.0,Na,Na,"[boulogne-b, llancourtBOULOGNE-BILLANCOURT]"
2295257,1,2019-01-18,Vente,607600.0,20.0,RUE,NUNGESSER ET COLI,75016.0,BOULOGNE-BILLANCOURT,92,66.0,3.0,Na,Na,"[boulogne-b, llancourtBOULOGNE-BILLANCOURT]"
2296791,1,2019-03-15,Vente,860000.0,30.0,RUE,NUNGESSER ET COLI,75016.0,BOULOGNE-BILLANCOURT,92,105.0,3.0,Na,Na,"[boulogne-b, llancourtBOULOGNE-BILLANCOURT]"

In [137]:
start_time = time
df['Longitude'] = 'Na'
df['Latitude'] = 'Na'
df['Longitude'] = df['complete_address'].apply(address_long)
df['Latitude'] = df['complete_address'].apply(address_lati)
print(time-start_time)
df.head()

KeyboardInterrupt:

In [36]:
from googlemaps import geocoding


address='Mahatma Gandhi Rd, Shivaji Nagar, Bangalore, KA 560001'

add=geocoding.geocode(address=address)
print (add)

TypeError: geocode() missing 1 required positional argument: 'client'